<app-header></app-header>
<app-cta></app-cta>
<app-banner></app-banner>
<app-cardsone></app-cardsone>
<app-categorias></app-categorias>
<app-section-spec-offe></app-section-spec-offe>
<app-cardstwo></app-cardstwo>
<app-cardstree></app-cardstree>
<app-blog-cards></app-blog-cards>
<app-tab-marcas></app-tab-marcas>
<app-section-spectwo></app-section-spectwo>
<app-cardsfour></app-cardsfour>
<app-cardsfive></app-cardsfive>
<app-tab-compra-seg></app-tab-compra-seg>
<app-mobile-app-promo></app-mobile-app-promo>
<app-newsletter></app-newsletter>
<app-helpcenter></app-helpcenter>
<app-footer></app-footer>
<router-outlet></router-outlet>

