@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-principal: #FF5A5F;
  --color-primary-hover: #d64246;
  --color-verde: #04A75B;
  --color-negro: #444A47;
  --color-fondo: #F7F9FD;
  --color-footer: #151515;
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  border-style: none;
}

.uppercase {
  text-transform: uppercase !important;
}

.bg-fondo {
  background: var(--color-fondo);
}

.container {
  width: 1122px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 1px) {
  .container {
    width: auto;
    max-width: 1122px !important;
  }
}

.hm-wrapper {
  position: relative;
  min-height: 100%;
}